@font-face {
    font-family: 'JacquesFrancois';
    src: url('./fonts/JacquesFrancois-9pe0.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'JacquesFrancois', serif;
  }